.mainContainer {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    background-color:$veryLightGray;

    @media (min-width: 376px) {
        flex-direction: row;
    }
}

.car-container {
    flex-grow: 1;
    padding: 40px 55px 50px 48px;
}