.mainContainer {
    display: grid;
    width: 329px;
    border-radius: 10px;
    overflow: hidden;

    @media screen and (min-width: 1024px) {
        grid-template-columns: 306px 306px 306px;
        border: none;
        height: 500px;
        width: 918px;
        overflow: hidden;

    }

    .car-container {
        padding: 44px 49px;

        @media screen and (min-width: 1024px) {
            padding: 48px 48px;
    
        }
    }

    #sedans {
        background-color: $brightOrange;

        button {
            color: $brightOrange;

            &:hover {
                color: $veryLightGray;
                background-color: inherit;
            }
        }
    }

    #suvs {
        background-color: $darkCyan;

        button {
            color: $darkCyan;

            &:hover {
                color: $veryLightGray;
                background-color: inherit;
            }
        }
    }

    #luxury {
        background-color: $veryDarkCyan;

        button {
            color: $veryDarkCyan;

            &:hover {
                color: $veryLightGray;
                background-color: inherit;
            }
        }
    }
}