h1 {
    color: $veryLightGray;
    @include headerFont;
    font-size: 42px;
}

p {
    color: $transparentWhite;
    @include paragraphFont;
    padding-bottom: 23px;

    @media screen and (min-width: 1024px) {
        padding-bottom: 80px;

    }
}

button {
    background-color: $veryLightGray;
    @include paragraphFont;
    border-radius: 100px;
    border: 1px solid $veryLightGray;
    width: 150px;
    height: 55px;

    &:hover {
        cursor: pointer;
    }
}