* {
    margin: 0px;
}

body {
    background-color: blue;
}

h1 {
    color: $veryLightGray;
    @include headerFont;
    margin-bottom: 40px;
}

p {
    color: $transparentWhite;
    @include paragraphFont;
    //border: 1px solid red;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    //background-color: $veryLightGray;
    //@include oval;
    padding: 15px 30px 15px 30px;
    @include paragraphFont;
    
}


