* {
    margin: 0px;
}

/*If there are contents within the div that has the curved corners,
you have to set overflow: hidden because otherwise the child div's overflow
can give the impression that the border-radius isn't working.*/
.main_container {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    padding-bottom: 70px;

    @media (max-width: 375px) {
        flex-direction: column;
    }

    div {
        //border: 5px solid red;
        padding: 50px 55px 40px 50px;
        //height: 350px;
    }
}


h1 {
    color: $veryLightGray;
    @include headerFont;
    margin-bottom: 40px;
}

p {
    color: $transparentWhite;
    @include paragraphFont;
    //border: 1px solid red;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    background-color: $veryLightGray;
    @include oval;
    padding: 15px 30px 15px 30px;
    @include paragraphFont;
    //argin-bottom: 60px;
}

//just adding a comment
//adding second comment