#sedans {
    background-color: $brightOrange;

    a {
        color: $brightOrange;
    }
}

#suvs {
    background-color: $darkCyan;

    a {
        color: $darkCyan;
    }
}

#luxury {
    background-color: $veryDarkCyan;

    a {
        color: $veryDarkCyan;
    }
}