#sedans {
    background-color: $brightOrange;

    button {
        color: $brightOrange;
    }

    button:hover {
        color: $veryLightGray;
    }
}

#suvs {
    background-color: $darkCyan;

    button {
        color: $darkCyan;
    }

    button:hover {
        color: $veryLightGray;
    }
}

#luxury {
    background-color: $veryDarkCyan;

    button {
        color: $veryDarkCyan;
    }

    button:hover {
        color: $veryLightGray;
    }
}